In [36]:
import pandas as pd
import pyarrow.parquet as pq
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt
import datetime as dt

%matplotlib inline

# dit is nodig om jupyter in widescreen te gebruiken (#UWHD masterrace:)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Use 0 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)

In [37]:
# meetpost_id's per richting
#----------------------------
meetpunten_riGent = [197, 198, 199, 3744, 3745, 3746, 3750, 3751, 3752, 3756, 3757, 3758, 499, 500, 501]
meetpunten_riGent_lane1 = [197, 3744, 3750, 3756, 499]
meetpunten_riGent_lane2 = [198, 3745, 3751, 3757, 500]
meetpunten_riGent_lane3 = [199, 3746, 3752, 3758, 501]
meetpunten_riAnt = [200, 201, 202, 3747, 3748, 3749, 3753, 3754, 3755, 3759, 3760, 3761, 496, 497, 498, 3691, 3692, 3693, 3694]
meetpunten_riAnt_lane1 = [200, 3747, 3753, 3759, 496, 3691]
meetpunten_riAnt_lane2 = [201, 3748, 3754, 3760, 497, 3692]
meetpunten_riAnt_lane3 = [202, 3749, 3755, 3761, 498, 3693]

loop_richting_en_rijstroken = {"Richting Gent - rijstrook 1": meetpunten_riGent_lane1,
                               "Richting Gent - rijstrook 2": meetpunten_riGent_lane2,
                               "Richting Gent - rijstrook 3": meetpunten_riGent_lane3,
                               "Richting Antwerpen - rijstrook 1": meetpunten_riAnt_lane1,
                               "Richting Antwerpen - rijstrook 2": meetpunten_riAnt_lane2,
                               "Richting Antwerpen - rijstrook 3": meetpunten_riAnt_lane3,
                               }

loop_richting_en_rijstroken_ANT = {"Richting Antwerpen - rijstrook 1": meetpunten_riAnt_lane1,
                                   "Richting Antwerpen - rijstrook 2": meetpunten_riAnt_lane2,
                                   "Richting Antwerpen - rijstrook 3": meetpunten_riAnt_lane3,
                                   }

# loop_richting_en_rijstroken_ANT = {"Richting Antwerpen - rijstrook 1": meetpunten_riAnt_lane1}
meetpunten_riGENT_1lus_allerijstroken = {"Richting Gent - Eerste meetlus - 3 rijstroken": [3744,3745,3746]}
meetpunten_riANT_1lus_allerijstroken = {"Richting Antwerpen - Eerste meetlus - 3 rijstroken": [3747,3748,3749]}
meetpunten_riAnt_alle = {"Richting Antwerpen - alle lussen - alle rijstroken": meetpunten_riAnt}

In [38]:
# Koppeling kmpunten naar meetpuntid's:
# --------------------------------------
gent_r1_dict = {13.517 : '197', 13.72 : '3744', 13.921 : '3750', 14.109 : '3756', 14.274 : '499'}
gent_r2_dict = {13.517 : '198', 13.72 : '3745', 13.921 : '3751', 14.109 : '3757', 14.274 : '500'}
gent_r3_dict = {13.517 : '199', 13.72 : '3746', 13.921 : '3752', 14.109 : '3758', 14.274 : '501'}

ant_r1_dict = {13.518 : '200', 13.719 : '3747', 13.918 : '3753', 14.106 : '3759', 14.27 : '496', 14.669 : '3691'}
ant_r2_dict = {13.518 : '201', 13.719 : '3748', 13.918 : '3754', 14.106 : '3760', 14.27 : '497', 14.669 : '3692'}
ant_r3_dict = {13.518 : '202', 13.719 : '3749', 13.918 : '3755', 14.106 : '3761', 14.27 : '498', 14.669 : '3693'}

In [39]:
# Lees de koppeltabel in (csv1) en de ongevallendata (csv2)
# ----------------------------------------------------------
csv1 = 'C:\Case\TargetData\Koppeltabel_targetdata_csv1.csv'
csv2 = 'C:\Case\TargetData\Koppeltabel_targetdata_csv2_v2.csv'

df1 = pd.read_csv(csv1,sep=';', dayfirst=True)
df1.set_index('meetpunt_id',inplace=True)

df2 = pd.read_csv(csv2,sep=';', dayfirst=True)
df2.set_index('Array nr',inplace=True)

In [40]:
df1

             positie_rsys_hrb ident_8_rsys_hrb  lane Richting  kmpunt_afgerond    meetpost_naam
meetpunt_id
197                    13.517         R0010001     1     GENT             13.5  13.5_Lane1_GENT
3744                   13.720         R0010001     1     GENT             13.7  13.7_Lane1_GENT
3750                   13.921         R0010001     1     GENT             13.9  13.9_Lane1_GENT
3756                   14.109         R0010001     1     GENT             14.1  14.1_Lane1_GENT
499                    14.274         R0010001     1     GENT             14.3  14.3_Lane1_GENT
...                       ...              ...   ...      ...              ...              ...
3755                   13.918         R0010002     3      ANT             13.9   13.9_Lane3_ANT
3761                   14.106         R0010002     3      ANT             14.1   14.1_Lane3_ANT
498                    14.270         R0010002     3      ANT             14.3   14.3_Lane3_ANT
3693                   14.669         R0010002     3      ANT             14.7   14.7_Lane3_ANT
3694                   14.669         R0010002     4      ANT             14.7   14.7_Lane4_ANT

[34 rows x 6 columns]

In [41]:
df2

               Datum Start Tijdstip Einde Tijdstip    Ident8 Rijstrook  Kmpunt obv camera
Array nr
1         2015-05-06           5:43           6:24  A0010002         1             13.580
7         2015-10-12          22:18          23:06  A0010001     1,2,3             13.600
9         2015-11-23           9:41          10:27  R0010001       1,2             14.100
10        2016-02-01          14:15          15:23  R0010002         1             14.205
1         2016-02-05          11:34          13:38  R0010002         1             13.720
...              ...            ...            ...       ...       ...                ...
43        2017-08-11          13:14          13:26  R0010001         1             13.450
44        2017-09-04          10:55          12:27  R0010002       1,2             13.950
46        2017-10-02          22:05          22:07  R0010002         3             13.800
47        2017-10-09          11:32          12:28  R0010001         2             13.400
48        2017-10-26          10:11          10:53  R0010001     1,2,3             13.800

[33 rows x 6 columns]

In [42]:
def maakTijdRange(startString, eindString, freq='5min'):
    # maakt een 'tijdrange' tussen twee tijddstippen, volgens bepaalde freq (standaard 5min)
    
    startTijd = pd.to_datetime(startString).floor(freq)
    eindTijd = pd.to_datetime(eindString).floor(freq)   # hier toch geen ceil gebruiken, want de laatste waarde in de result array moet 
                                                        #vòòr de niet-afgeronde tijd komen (anders tel je 5 min tveel op het einde)
    
    return pd.period_range(start = startTijd, end = eindTijd, freq = freq)

In [43]:
def zoekNearestMeetpunt(mydict,kmpunt):
    # zoekt dichtstbijzijnde kmpunt in de dict values (=kmpunt van meetpuntid) en returnt de key (=meetpuntid)
    
    return (mydict[min(mydict, key=lambda x:abs(x-kmpunt))])

In [44]:
def maakKoppeling(ident8, rijstrook, kmpunt):
    # zoekt meetpunt_id dat bij de richting (ident8), rijstrook en dichtstbijzijnde kmpunt behoort
    
    if ident8 == 'R0010001' or ident8 == 'A0010001':
        # richting GENT
        if rijstrook == '1':
            meetpunt_id = zoekNearestMeetpunt(gent_r1_dict,kmpunt)
        elif rijstrook == '2':
            meetpunt_id = zoekNearestMeetpunt(gent_r2_dict,kmpunt)
        elif rijstrook == '3':
            meetpunt_id = zoekNearestMeetpunt(gent_r3_dict,kmpunt)
        else:
            print('rijstrook NIET GELDIG?!: ' + rijstrook)
        
    elif ident8 == 'R0010002' or ident8 == 'A0010002': 
        # richting ANTWERPEN
        if rijstrook == '1':
            meetpunt_id = zoekNearestMeetpunt(ant_r1_dict,kmpunt)            
        elif rijstrook == '2':
            meetpunt_id = zoekNearestMeetpunt(ant_r2_dict,kmpunt)
        elif rijstrook == '3':
            meetpunt_id = zoekNearestMeetpunt(ant_r3_dict,kmpunt)
        else:
            print('rijstrook NIET GELDIG?!: ' + rijstrook)
        
    else:
        print('IDENT8 nummer NIET GELDIG?!: ' + ident8)
     
    return meetpunt_id

In [45]:
rows_list = []

for row in df2.itertuples(): 
    arrayNr, datum, startTijd, eindTijd, ident8, rijstroken, kmpunt = row
    
    startDate = pd.to_datetime(datum+ ' ' + startTijd)
    endDate = pd.to_datetime(datum+ ' ' + eindTijd)
    
    print('bezig met array nr: ' + str(arrayNr))
    
    for tijd in maakTijdRange(startDate,endDate):
        for rijstrook in rijstroken.split(","):
            if rijstrook != '0':
                meetpunt_id = maakKoppeling(ident8, rijstrook, kmpunt)
                print('\t' + str(tijd) +' - '+ meetpunt_id)
                rows_list.append(tijd.strftime('%Y-%m-%d %H:%M:%S') + ' - ' + meetpunt_id)

                
target_df = pd.DataFrame(rows_list,columns=['targetData'])
target_df.to_csv(r'C:\Case\TargetData\targetdata_output_02.csv', index=False)

bezig met array nr: 1
	2015-05-06 05:40 - 200
	2015-05-06 05:45 - 200
	2015-05-06 05:50 - 200
	2015-05-06 05:55 - 200
	2015-05-06 06:00 - 200
	2015-05-06 06:05 - 200
	2015-05-06 06:10 - 200
	2015-05-06 06:15 - 200
	2015-05-06 06:20 - 200
bezig met array nr: 7
	2015-10-12 22:15 - 197
	2015-10-12 22:15 - 198
	2015-10-12 22:15 - 199
	2015-10-12 22:20 - 197
	2015-10-12 22:20 - 198
	2015-10-12 22:20 - 199
	2015-10-12 22:25 - 197
	2015-10-12 22:25 - 198
	2015-10-12 22:25 - 199
	2015-10-12 22:30 - 197
	2015-10-12 22:30 - 198
	2015-10-12 22:30 - 199
	2015-10-12 22:35 - 197
	2015-10-12 22:35 - 198
	2015-10-12 22:35 - 199
	2015-10-12 22:40 - 197
	2015-10-12 22:40 - 198
	2015-10-12 22:40 - 199
	2015-10-12 22:45 - 197
	2015-10-12 22:45 - 198
	2015-10-12 22:45 - 199
	2015-10-12 22:50 - 197
	2015-10-12 22:50 - 198
	2015-10-12 22:50 - 199
	2015-10-12 22:55 - 197
	2015-10-12 22:55 - 198
	2015-10-12 22:55 - 199
	2015-10-12 23:00 - 197
	2015-10-12 23:00 - 198
	2015-10-12 23:00 - 199
	2015-10-12 23:05 - 197
	2015-10-12 23:05 - 198
	2015-10-12 23:05 - 199
bezig met array nr: 9
	2015-11-23 09:40 - 3756
	2015-11-23 09:40 - 3757
	2015-11-23 09:45 - 3756
	2015-11-23 09:45 - 3757
	2015-11-23 09:50 - 3756
	2015-11-23 09:50 - 3757
	2015-11-23 09:55 - 3756
	2015-11-23 09:55 - 3757
	2015-11-23 10:00 - 3756
	2015-11-23 10:00 - 3757
	2015-11-23 10:05 - 3756
	2015-11-23 10:05 - 3757
	2015-11-23 10:10 - 3756
	2015-11-23 10:10 - 3757
	2015-11-23 10:15 - 3756
	2015-11-23 10:15 - 3757
	2015-11-23 10:20 - 3756
	2015-11-23 10:20 - 3757
	2015-11-23 10:25 - 3756
	2015-11-23 10:25 - 3757
bezig met array nr: 10
	2016-02-01 14:15 - 496
	2016-02-01 14:20 - 496
	2016-02-01 14:25 - 496
	2016-02-01 14:30 - 496
	2016-02-01 14:35 - 496
	2016-02-01 14:40 - 496
	2016-02-01 14:45 - 496
	2016-02-01 14:50 - 496
	2016-02-01 14:55 - 496
	2016-02-01 15:00 - 496
	2016-02-01 15:05 - 496
	2016-02-01 15:10 - 496
	2016-02-01 15:15 - 496
	2016-02-01 15:20 - 496
bezig met array nr: 1
	2016-02-05 11:30 - 3747
	2016-02-05 11:35 - 3747
	2016-02-05 11:40 - 3747
	2016-02-05 11:45 - 3747
	2016-02-05 11:50 - 3747
	2016-02-05 11:55 - 3747
	2016-02-05 12:00 - 3747
	2016-02-05 12:05 - 3747
	2016-02-05 12:10 - 3747
	2016-02-05 12:15 - 3747
	2016-02-05 12:20 - 3747
	2016-02-05 12:25 - 3747
	2016-02-05 12:30 - 3747
	2016-02-05 12:35 - 3747
	2016-02-05 12:40 - 3747
	2016-02-05 12:45 - 3747
	2016-02-05 12:50 - 3747
	2016-02-05 12:55 - 3747
	2016-02-05 13:00 - 3747
	2016-02-05 13:05 - 3747
	2016-02-05 13:10 - 3747
	2016-02-05 13:15 - 3747
	2016-02-05 13:20 - 3747
	2016-02-05 13:25 - 3747
	2016-02-05 13:30 - 3747
	2016-02-05 13:35 - 3747
bezig met array nr: 13
	2016-02-24 05:10 - 202
	2016-02-24 05:15 - 202
bezig met array nr: 15
	2016-05-25 14:20 - 3759
	2016-05-25 14:25 - 3759
	2016-05-25 14:30 - 3759
	2016-05-25 14:35 - 3759
	2016-05-25 14:40 - 3759
	2016-05-25 14:45 - 3759
	2016-05-25 14:50 - 3759
	2016-05-25 14:55 - 3759
bezig met array nr: 17
	2016-06-30 15:20 - 197
	2016-06-30 15:20 - 198
	2016-06-30 15:25 - 197
	2016-06-30 15:25 - 198
	2016-06-30 15:30 - 197
	2016-06-30 15:30 - 198
	2016-06-30 15:35 - 197
	2016-06-30 15:35 - 198
	2016-06-30 15:40 - 197
	2016-06-30 15:40 - 198
	2016-06-30 15:45 - 197
	2016-06-30 15:45 - 198
	2016-06-30 15:50 - 197
	2016-06-30 15:50 - 198
	2016-06-30 15:55 - 197
	2016-06-30 15:55 - 198
	2016-06-30 16:00 - 197
	2016-06-30 16:00 - 198
	2016-06-30 16:05 - 197
	2016-06-30 16:05 - 198
	2016-06-30 16:10 - 197
	2016-06-30 16:10 - 198
	2016-06-30 16:15 - 197
	2016-06-30 16:15 - 198
	2016-06-30 16:20 - 197
	2016-06-30 16:20 - 198
bezig met array nr: 18
	2016-07-04 10:45 - 199
	2016-07-04 10:50 - 199
	2016-07-04 10:55 - 199
	2016-07-04 11:00 - 199
	2016-07-04 11:05 - 199
	2016-07-04 11:10 - 199
	2016-07-04 11:15 - 199
bezig met array nr: 19
	2016-07-10 11:45 - 3747
	2016-07-10 11:45 - 3748
	2016-07-10 11:50 - 3747
	2016-07-10 11:50 - 3748
	2016-07-10 11:55 - 3747
	2016-07-10 11:55 - 3748
	2016-07-10 12:00 - 3747
	2016-07-10 12:00 - 3748
	2016-07-10 12:05 - 3747
	2016-07-10 12:05 - 3748
	2016-07-10 12:10 - 3747
	2016-07-10 12:10 - 3748
	2016-07-10 12:15 - 3747
	2016-07-10 12:15 - 3748
	2016-07-10 12:20 - 3747
	2016-07-10 12:20 - 3748
	2016-07-10 12:25 - 3747
	2016-07-10 12:25 - 3748
	2016-07-10 12:30 - 3747
	2016-07-10 12:30 - 3748
	2016-07-10 12:35 - 3747
	2016-07-10 12:35 - 3748
bezig met array nr: 20
	2016-07-11 13:35 - 201
	2016-07-11 13:35 - 202
	2016-07-11 13:40 - 201
	2016-07-11 13:40 - 202
	2016-07-11 13:45 - 201
	2016-07-11 13:45 - 202
	2016-07-11 13:50 - 201
	2016-07-11 13:50 - 202
	2016-07-11 13:55 - 201
	2016-07-11 13:55 - 202
	2016-07-11 14:00 - 201
	2016-07-11 14:00 - 202
	2016-07-11 14:05 - 201
	2016-07-11 14:05 - 202
	2016-07-11 14:10 - 201
	2016-07-11 14:10 - 202
	2016-07-11 14:15 - 201
	2016-07-11 14:15 - 202
	2016-07-11 14:20 - 201
	2016-07-11 14:20 - 202
	2016-07-11 14:25 - 201
	2016-07-11 14:25 - 202
	2016-07-11 14:30 - 201
	2016-07-11 14:30 - 202
	2016-07-11 14:35 - 201
	2016-07-11 14:35 - 202
	2016-07-11 14:40 - 201
	2016-07-11 14:40 - 202
bezig met array nr: 21
	2016-08-02 18:20 - 3750
	2016-08-02 18:25 - 3750
	2016-08-02 18:30 - 3750
	2016-08-02 18:35 - 3750
bezig met array nr: 23
	2016-09-27 11:25 - 3744
	2016-09-27 11:30 - 3744
	2016-09-27 11:35 - 3744
	2016-09-27 11:40 - 3744
	2016-09-27 11:45 - 3744
	2016-09-27 11:50 - 3744
	2016-09-27 11:55 - 3744
	2016-09-27 12:00 - 3744
	2016-09-27 12:05 - 3744
	2016-09-27 12:10 - 3744
bezig met array nr: 24
	2016-10-06 21:55 - 496
	2016-10-06 21:55 - 497
	2016-10-06 21:55 - 498
	2016-10-06 22:00 - 496
	2016-10-06 22:00 - 497
	2016-10-06 22:00 - 498
	2016-10-06 22:05 - 496
	2016-10-06 22:05 - 497
	2016-10-06 22:05 - 498
	2016-10-06 22:10 - 496
	2016-10-06 22:10 - 497
	2016-10-06 22:10 - 498
	2016-10-06 22:15 - 496
	2016-10-06 22:15 - 497
	2016-10-06 22:15 - 498
	2016-10-06 22:20 - 496
	2016-10-06 22:20 - 497
	2016-10-06 22:20 - 498
	2016-10-06 22:25 - 496
	2016-10-06 22:25 - 497
	2016-10-06 22:25 - 498
	2016-10-06 22:30 - 496
	2016-10-06 22:30 - 497
	2016-10-06 22:30 - 498
	2016-10-06 22:35 - 496
	2016-10-06 22:35 - 497
	2016-10-06 22:35 - 498
	2016-10-06 22:40 - 496
	2016-10-06 22:40 - 497
	2016-10-06 22:40 - 498
	2016-10-06 22:45 - 496
	2016-10-06 22:45 - 497
	2016-10-06 22:45 - 498
	2016-10-06 22:50 - 496
	2016-10-06 22:50 - 497
	2016-10-06 22:50 - 498
	2016-10-06 22:55 - 496
	2016-10-06 22:55 - 497
	2016-10-06 22:55 - 498
	2016-10-06 23:00 - 496
	2016-10-06 23:00 - 497
	2016-10-06 23:00 - 498
	2016-10-06 23:05 - 496
	2016-10-06 23:05 - 497
	2016-10-06 23:05 - 498
	2016-10-06 23:10 - 496
	2016-10-06 23:10 - 497
	2016-10-06 23:10 - 498
bezig met array nr: 25
	2016-10-23 00:05 - 500
	2016-10-23 00:05 - 501
	2016-10-23 00:10 - 500
	2016-10-23 00:10 - 501
	2016-10-23 00:15 - 500
	2016-10-23 00:15 - 501
	2016-10-23 00:20 - 500
	2016-10-23 00:20 - 501
	2016-10-23 00:25 - 500
	2016-10-23 00:25 - 501
	2016-10-23 00:30 - 500
	2016-10-23 00:30 - 501
	2016-10-23 00:35 - 500
	2016-10-23 00:35 - 501
	2016-10-23 00:40 - 500
	2016-10-23 00:40 - 501
	2016-10-23 00:45 - 500
	2016-10-23 00:45 - 501
	2016-10-23 00:50 - 500
	2016-10-23 00:50 - 501
	2016-10-23 00:55 - 500
	2016-10-23 00:55 - 501
	2016-10-23 01:00 - 500
	2016-10-23 01:00 - 501
	2016-10-23 01:05 - 500
	2016-10-23 01:05 - 501
	2016-10-23 01:10 - 500
	2016-10-23 01:10 - 501
	2016-10-23 01:15 - 500
	2016-10-23 01:15 - 501
	2016-10-23 01:20 - 500
	2016-10-23 01:20 - 501
	2016-10-23 01:25 - 500
	2016-10-23 01:25 - 501
	2016-10-23 01:30 - 500
	2016-10-23 01:30 - 501
	2016-10-23 01:35 - 500
	2016-10-23 01:35 - 501
	2016-10-23 01:40 - 500
	2016-10-23 01:40 - 501
	2016-10-23 01:45 - 500
	2016-10-23 01:45 - 501
bezig met array nr: 26
	2016-11-15 11:50 - 3756
	2016-11-15 11:55 - 3756
	2016-11-15 12:00 - 3756
	2016-11-15 12:05 - 3756
	2016-11-15 12:10 - 3756
	2016-11-15 12:15 - 3756
	2016-11-15 12:20 - 3756
	2016-11-15 12:25 - 3756
	2016-11-15 12:30 - 3756
	2016-11-15 12:35 - 3756
	2016-11-15 12:40 - 3756
	2016-11-15 12:45 - 3756
	2016-11-15 12:50 - 3756
	2016-11-15 12:55 - 3756
	2016-11-15 13:00 - 3756
bezig met array nr: 27
	2016-11-21 12:15 - 3753
bezig met array nr: 29
	2016-12-01 18:20 - 200
	2016-12-01 18:25 - 200
	2016-12-01 18:30 - 200
	2016-12-01 18:35 - 200
	2016-12-01 18:40 - 200
	2016-12-01 18:45 - 200
	2016-12-01 18:50 - 200
	2016-12-01 18:55 - 200
	2016-12-01 19:00 - 200
	2016-12-01 19:05 - 200
	2016-12-01 19:10 - 200
	2016-12-01 19:15 - 200
	2016-12-01 19:20 - 200
	2016-12-01 19:25 - 200
bezig met array nr: 30
	2016-12-15 18:35 - 3760
	2016-12-15 18:35 - 3761
	2016-12-15 18:40 - 3760
	2016-12-15 18:40 - 3761
	2016-12-15 18:45 - 3760
	2016-12-15 18:45 - 3761
	2016-12-15 18:50 - 3760
	2016-12-15 18:50 - 3761
	2016-12-15 18:55 - 3760
	2016-12-15 18:55 - 3761
	2016-12-15 19:00 - 3760
	2016-12-15 19:00 - 3761
	2016-12-15 19:05 - 3760
	2016-12-15 19:05 - 3761
	2016-12-15 19:10 - 3760
	2016-12-15 19:10 - 3761
	2016-12-15 19:15 - 3760
	2016-12-15 19:15 - 3761
	2016-12-15 19:20 - 3760
	2016-12-15 19:20 - 3761
	2016-12-15 19:25 - 3760
	2016-12-15 19:25 - 3761
	2016-12-15 19:30 - 3760
	2016-12-15 19:30 - 3761
	2016-12-15 19:35 - 3760
	2016-12-15 19:35 - 3761
bezig met array nr: 31
	2017-01-12 11:25 - 197
	2017-01-12 11:30 - 197
bezig met array nr: 32
	2017-01-26 18:55 - 199
	2017-01-26 19:00 - 199
	2017-01-26 19:05 - 199
	2017-01-26 19:10 - 199
	2017-01-26 19:15 - 199
	2017-01-26 19:20 - 199
	2017-01-26 19:25 - 199
	2017-01-26 19:30 - 199
	2017-01-26 19:35 - 199
	2017-01-26 19:40 - 199
	2017-01-26 19:45 - 199
	2017-01-26 19:50 - 199
	2017-01-26 19:55 - 199
	2017-01-26 20:00 - 199
	2017-01-26 20:05 - 199
	2017-01-26 20:10 - 199
bezig met array nr: 33
	2017-03-07 15:30 - 3691
	2017-03-07 15:35 - 3691
	2017-03-07 15:40 - 3691
	2017-03-07 15:45 - 3691
	2017-03-07 15:50 - 3691
	2017-03-07 15:55 - 3691
	2017-03-07 16:00 - 3691
	2017-03-07 16:05 - 3691
	2017-03-07 16:10 - 3691
	2017-03-07 16:15 - 3691
	2017-03-07 16:20 - 3691
	2017-03-07 16:25 - 3691
	2017-03-07 16:30 - 3691
	2017-03-07 16:35 - 3691
bezig met array nr: 34
	2017-03-27 13:05 - 197
	2017-03-27 13:10 - 197
	2017-03-27 13:15 - 197
	2017-03-27 13:20 - 197
	2017-03-27 13:25 - 197
bezig met array nr: 35
	2017-03-31 11:30 - 202
	2017-03-31 11:35 - 202
	2017-03-31 11:40 - 202
	2017-03-31 11:45 - 202
	2017-03-31 11:50 - 202
	2017-03-31 11:55 - 202
	2017-03-31 12:00 - 202
	2017-03-31 12:05 - 202
	2017-03-31 12:10 - 202
	2017-03-31 12:15 - 202
	2017-03-31 12:20 - 202
	2017-03-31 12:25 - 202
	2017-03-31 12:30 - 202
	2017-03-31 12:35 - 202
bezig met array nr: 37
	2017-04-30 17:10 - 3753
	2017-04-30 17:15 - 3753
	2017-04-30 17:20 - 3753
	2017-04-30 17:25 - 3753
	2017-04-30 17:30 - 3753
	2017-04-30 17:35 - 3753
	2017-04-30 17:40 - 3753
bezig met array nr: 38
	2017-06-13 15:00 - 496
	2017-06-13 15:05 - 496
	2017-06-13 15:10 - 496
	2017-06-13 15:15 - 496
	2017-06-13 15:20 - 496
	2017-06-13 15:25 - 496
	2017-06-13 15:30 - 496
	2017-06-13 15:35 - 496
	2017-06-13 15:40 - 496
	2017-06-13 15:45 - 496
	2017-06-13 15:50 - 496
	2017-06-13 15:55 - 496
bezig met array nr: 41
	2017-07-23 13:15 - 3750
	2017-07-23 13:20 - 3750
	2017-07-23 13:25 - 3750
	2017-07-23 13:30 - 3750
	2017-07-23 13:35 - 3750
	2017-07-23 13:40 - 3750
	2017-07-23 13:45 - 3750
bezig met array nr: 42
	2017-08-06 12:30 - 199
	2017-08-06 12:35 - 199
	2017-08-06 12:40 - 199
	2017-08-06 12:45 - 199
	2017-08-06 12:50 - 199
bezig met array nr: 43
	2017-08-11 13:10 - 197
	2017-08-11 13:15 - 197
	2017-08-11 13:20 - 197
	2017-08-11 13:25 - 197
bezig met array nr: 44
	2017-09-04 10:55 - 3753
	2017-09-04 10:55 - 3754
	2017-09-04 11:00 - 3753
	2017-09-04 11:00 - 3754
	2017-09-04 11:05 - 3753
	2017-09-04 11:05 - 3754
	2017-09-04 11:10 - 3753
	2017-09-04 11:10 - 3754
	2017-09-04 11:15 - 3753
	2017-09-04 11:15 - 3754
	2017-09-04 11:20 - 3753
	2017-09-04 11:20 - 3754
	2017-09-04 11:25 - 3753
	2017-09-04 11:25 - 3754
	2017-09-04 11:30 - 3753
	2017-09-04 11:30 - 3754
	2017-09-04 11:35 - 3753
	2017-09-04 11:35 - 3754
	2017-09-04 11:40 - 3753
	2017-09-04 11:40 - 3754
	2017-09-04 11:45 - 3753
	2017-09-04 11:45 - 3754
	2017-09-04 11:50 - 3753
	2017-09-04 11:50 - 3754
	2017-09-04 11:55 - 3753
	2017-09-04 11:55 - 3754
	2017-09-04 12:00 - 3753
	2017-09-04 12:00 - 3754
	2017-09-04 12:05 - 3753
	2017-09-04 12:05 - 3754
	2017-09-04 12:10 - 3753
	2017-09-04 12:10 - 3754
	2017-09-04 12:15 - 3753
	2017-09-04 12:15 - 3754
	2017-09-04 12:20 - 3753
	2017-09-04 12:20 - 3754
	2017-09-04 12:25 - 3753
	2017-09-04 12:25 - 3754
bezig met array nr: 46
	2017-10-02 22:05 - 3749
bezig met array nr: 47
	2017-10-09 11:30 - 198
	2017-10-09 11:35 - 198
	2017-10-09 11:40 - 198
	2017-10-09 11:45 - 198
	2017-10-09 11:50 - 198
	2017-10-09 11:55 - 198
	2017-10-09 12:00 - 198
	2017-10-09 12:05 - 198
	2017-10-09 12:10 - 198
	2017-10-09 12:15 - 198
	2017-10-09 12:20 - 198
	2017-10-09 12:25 - 198
bezig met array nr: 48
	2017-10-26 10:10 - 3744
	2017-10-26 10:10 - 3745
	2017-10-26 10:10 - 3746
	2017-10-26 10:15 - 3744
	2017-10-26 10:15 - 3745
	2017-10-26 10:15 - 3746
	2017-10-26 10:20 - 3744
	2017-10-26 10:20 - 3745
	2017-10-26 10:20 - 3746
	2017-10-26 10:25 - 3744
	2017-10-26 10:25 - 3745
	2017-10-26 10:25 - 3746
	2017-10-26 10:30 - 3744
	2017-10-26 10:30 - 3745
	2017-10-26 10:30 - 3746
	2017-10-26 10:35 - 3744
	2017-10-26 10:35 - 3745
	2017-10-26 10:35 - 3746
	2017-10-26 10:40 - 3744
	2017-10-26 10:40 - 3745
	2017-10-26 10:40 - 3746
	2017-10-26 10:45 - 3744
	2017-10-26 10:45 - 3745
	2017-10-26 10:45 - 3746
	2017-10-26 10:50 - 3744
	2017-10-26 10:50 - 3745
	2017-10-26 10:50 - 3746

In [46]:
target_df

                     targetData
0     2015-05-06 05:40:00 - 200
1     2015-05-06 05:45:00 - 200
2     2015-05-06 05:50:00 - 200
3     2015-05-06 05:55:00 - 200
4     2015-05-06 06:00:00 - 200
..                          ...
514  2017-10-26 10:45:00 - 3745
515  2017-10-26 10:45:00 - 3746
516  2017-10-26 10:50:00 - 3744
517  2017-10-26 10:50:00 - 3745
518  2017-10-26 10:50:00 - 3746

[519 rows x 1 columns]

In [49]:
df_set2 = pd.read_csv('C:\Case\TargetData\Dataset1_selectie_ongevallen_timeframe2u.csv', dayfirst=True)


df_set2["datetime"] = pd.to_datetime(df_set2["datetime"], dayfirst=True)
df_set2.set_index('datetime',inplace=True)


df_model = df_set2.filter(["datetime"])

df_model['date'] = df_model.index.strftime('%Y-%m-%d')
df_model['time'] = df_model.index.strftime('%H:%M:%S')

df_model

tijdArray = []

for row in df_model.itertuples():
    datetime, date, time = row
    
    startTime = (datetime - dt.timedelta(hours=1))
    endTime = (datetime + dt.timedelta(hours=1))

    periode = maakTijdRange(startTime, endTime, freq='5min')
    
    for time in periode:
        tijdArray.append(time)
    
df_result =pd.DataFrame({'Selectie':tijdArray})

df_result

df_result.to_csv(r'C:\Case\TargetData\selectie_perioden_01.csv', index=False)

In [50]:
df_model

                           date      time
datetime
2015-08-28 15:11:00  2015-08-28  15:11:00
2015-08-28 15:11:00  2015-08-28  15:11:00
2015-09-15 13:53:00  2015-09-15  13:53:00
2015-11-23 09:41:00  2015-11-23  09:41:00
2016-02-24 10:28:00  2016-02-24  10:28:00
2016-05-25 14:21:00  2016-05-25  14:21:00
2016-06-30 15:23:00  2016-06-30  15:23:00
2016-07-04 09:55:00  2016-07-04  09:55:00
2016-09-27 11:25:00  2016-09-27  11:25:00
2016-10-23 00:08:00  2016-10-23  00:08:00
2016-11-15 11:54:00  2016-11-15  11:54:00
2016-12-15 18:38:00  2016-12-15  18:38:00
2017-01-12 16:20:00  2017-01-12  16:20:00
2017-03-31 11:39:00  2017-03-31  11:39:00
2017-04-30 00:49:00  2017-04-30  00:49:00
2017-06-13 19:27:00  2017-06-13  19:27:00
2017-07-23 13:15:00  2017-07-23  13:15:00
2017-09-27 10:04:00  2017-09-27  10:04:00
2017-10-26 10:11:00  2017-10-26  10:11:00
2017-12-01 15:59:00  2017-12-01  15:59:00